APP_BASE_URL=https://casadeperla.com
STORE_NAME=Casa de Perla
ADMIN_EMAIL=atelier@gmail.com
STORE_CURRENCY=MAD
STORE_WHATSAPP_NUMBER=212600000000
STORE_SUPPORT_PHONE=+212 600 000 000
FREE_DELIVERY_THRESHOLD=500.00
DEFAULT_DELIVERY_FEE=45.00
